.about .grid__item:first-child {
    width:10%;
}




.about .grid__item img {

    width: 80%;
}


@media screen and (min-width: 750px) {
    .about img {
        padding-right: 3rem;
        
    }

}
.about {
    h3 {
        margin:5px;
    }
}
