
header {
    background-color: white;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1;
    .container {
    padding: 1rem;
    }
    .logo {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        letter-spacing: 2px;
        display: flex;

        img {
            height: 8vh;
        }
        h1 {
            margin: auto;
            margin-left: 1vw;
        }
    }
    .navbar {
        margin: auto;
    }
}
    





header li {
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
}
 header a { 
    color:#333;
}

header .right {
    display: flex;
    align-items: center;
}
.header_nav_lang_choice {
    background-color: white;

    img {
        height: 2.5rem;
        transition: .4s;
        &:hover {
            transform: scale(1.2);
        }
    }

}

@media screen and (max-width: 749px) {

    header {

        .container {
            display: flex;
            justify-content: space-between;

        }
        .right {
            order:1;
        }
        .logo {
            order:2;
        }
        .header_nav_lang_choice {
            order:3;
        }
    }

}
@media screen and (max-width: 540px) {

    header .logo {
        order:2;
        h1 {
            font-size: 1em;
        }
    }

}